<%= stylesheet_link_tag 'custom' %>

<h1>Edição de paciente</h1>

<%= render "form", paciente: @paciente %>

<br>

<div>
  <%= link_to "Mostrar esse paciente", @paciente %> |
  <%= link_to "Voltar", pacientes_path %>
</div>
