<!DOCTYPE html>

<head>
  <title>Página Inicial</title>
</head>
<body>
<h1>Bem-vindo à Página Inicial</h1>

<h2>Consultas</h2>
<form action="/consulta" method="get">
  <button type="submit">Aba de consultas</button>
</form>



<h2>Médicos</h2>

<form action="/medicos" method="get">
  <button type="submit">Aba dos medicos</button>
</form>

<h2>Pacientes</h2>
<form action="/pacientes" method="get">
  <button type="submit">Aba dos pacientes</button>
</form>

</body>