<%= stylesheet_link_tag 'custom' %>

<h1>Novo paciente</h1>

<%= render "form", paciente: @paciente %>

<br>

<div>
  <button onclick="window.location.href='<%= pacientes_path %>'">Voltar</button>
</div>
