<%= stylesheet_link_tag 'custom' %>

<h1>Nova consulta</h1>

<%= render "form", consultum: @consultum %>

<br>

<div>
  <button onclick="window.location.href='<%= consulta_path %>'">Voltar</button>
</div>
