<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
        text-align: center;
        background-color: #007bff;
    }

    h1 {
        color: #fff;
        font-size: 32px;
    }

    p {
        color: green;
    }

    #consulta {
        margin-top: 20px;
        text-align: left;
    }

    #consulta p {
        margin-bottom: 10px;
    }

    #consulta a {
        color: #fff;
        text-decoration: none;
    }

    #consulta a:hover {
        text-decoration: underline;
    }
</style>

<h1>New consultum</h1>

<%= render "form", consultum: @consultum %>

<br>

<div>
  <%= link_to "Back to consulta", consulta_path %>
</div>
