<%= stylesheet_link_tag 'custom' %>

<h1>Editing medico</h1>

<%= render "form", medico: @medico %>

<br>

<div>
  <%= link_to "Mostrar esse médico", @medico %> |
  <%= link_to "Voltar", medicos_path %>
</div>
