<%= stylesheet_link_tag 'custom' %>

<button onclick="window.location.href='<%= new_medico_path %>'">Novo médico</button>
<br> <br>
<button onclick="window.location.href='/'">Voltar para a página inicial</button>
